body {
	background: #222;
	padding: 10px 0;
}

.black-shadow {
	box-shadow: 0 2px 8px #000;
}

.logo {
	margin: 0 0;
	font-size:  14pt;
	color: #fff;
	line-height: 1.42857143;
	letter-spacing: 0.25em;
}

.video-screen {
	border-radius: 16px;
	box-sizing: border-box;
	height: auto;
	width: 100%;
	display: block;
	margin: 5px 0;
}

.directional-pad .btn {
	margin: 10px 0;
}
