node_modules

config/apache2.conf
config/catpoo-site
config/php.ini


erlide.log*
.metadata
rpc_monitor-*


motion/*.beam
motion/Makefile.in
motion/build
motion/config.*
motion/m4
motion/missing
motion/thrift/*.beam
motion/thrift/*.erl
motion/thrift/*.hrl


vision/thrift/*.cpp
vision/thrift/*.h
vision/*.o
vision/thrift/*.o
vision/thrift/Makefile
vision/thrift/Makefile.in
vision/.cproject
vision/thrift/.deps
vision/server
vision/depcomp
vision/stamp-h1
vision/autom4te.cache
vision/Makefile.in
vision/configure
vision/m4
vision/.project
vision/ltmain.sh
vision/aclocal.m4
vision/config.h.in
vision/config.guess
vision/config.sub
vision/install-sh
vision/missing
vision/src/Makefile.in
vision/src/*.o
vision/Makefile
vision/config.h
vision/config.log
vision/config.status
vision/libtool
vision/src/.deps/
vision/src/Makefile
vision/src/catpoo_vision

