/config/apache2.conf
/config/catpoo-site
/config/php.ini

/erlide.log*
/.metadata
rpc_monitor-*

/vision/*.o
/vision/.cproject
/vision/server

/vision/thrift/*.cpp
/vision/thrift/*.h

/motion/thrift/*.beam
/motion/*.beam
/vision/depcomp
/vision/stamp-h1
/vision/autom4te.cache
/vision/Makefile.in

vision/configure
vision/m4
vision/.project
vision/ltmain.sh
vision/aclocal.m4
vision/config.h.in
vision/config.guess
vision/config.sub
vision/install-sh
vision/missing
vision/src/Makefile.in
