[submodule "3rdparty/thrift"]
	path = 3rdparty/thrift
	url = https://github.com/apache/thrift.git
	ignore = dirty
	branch = 0.9.3

[submodule "3rdparty/rebar"]
	path = 3rdparty/rebar
	url = https://github.com/basho/rebar.git

