/config/apache2.conf
/config/catpoo-site
/config/php.ini

/erlide.log*
/.metadata
rpc_monitor-*

/vision/*.o
/vision/.cproject
/vision/server

/vision/thrift/*.cpp
/vision/thrift/*.h

/motion/thrift/*.beam
/motion/*.beam
