<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button"
							class="navbar-toggle collapsed"
							data-toggle="collapse"
							data-target="#catpoo-navbar"
							aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">CATPOO v3</a>
		</div>


		<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="catpoo-navbar">
      <ul class="nav navbar-nav">
				<li>
					<a class="btn" href="#"><i class="fa fa-question"></i> Help</a>
				</li>
				<li>
					<a class="btn" href="#"><i class="fa fa-warning"></i> Panic</a>
				</li>
				<li data-bind="css: { active: brighten }">
					<a class="btn" href="#" data-bind="click: toggleBrighten"><i class="fa fa-lightbulb-o"></i> Brighten</a>
				</li>
				<li>
					<a class="btn" href="#"><i class="fa fa-info"></i> Info</a>
				</li>
      </ul>
    </div><!-- /.navbar-collapse -->

	</div>
</nav>
