<div class="video-screen">
	<img class="video-screen_image black-shadow"
		src="/stream.mjpeg"
		draggable="true"
		data-bind="css: { 'video-screen_image--brightness': brighten }"/>
</div>

<div class="clearfix"></div>
