[Desktop Entry]
Encoding=UTF-8
Name=Link to 60mm Aluminum Omni Wheel - RobotShop
Type=Link
URL=http://www.robotshop.com/en/60mm-aluminum-omni-wheel.html
Icon=text-html
