[Desktop Entry]
Encoding=UTF-8
Name=Link to Buy robot wheels:omni directional wheels in robot wheel shop
Type=Link
URL=http://gtfrobots.com/
Icon=text-html
Name[en_US]=GTFRobots
