[Desktop Entry]
Encoding=UTF-8
Name=Link to Vex Mecanum Wheel Adapter D-hub Converter by Wifi_X_Smasher - Thingiverse
Type=Link
URL=https://www.thingiverse.com/thing:1949503
Icon=text-html
Name[en_US]=Vex Mecanum Wheel Adapter D-hub Converter by Wifi_X_Smasher - Thingiverse
