{% extends 'base.html.twig' %}

{% block body %}

{% include 'partials/video-screen.html.twig' %}

<div  class="container-fluid">
	{% include 'partials/header.html.twig' %}
	{% include 'partials/directional-pad.html.twig' %}
</div>

{% endblock %}
