* {
	color: #000;
	border: none;
	outline: none;
	background: none;
	margin: 0;
	padding: 0;
	font-size: 12pt;
}

body {
	background: #fff;
}

#hud {
	position: absolute;
	top: 24px;
	left: 32px;
	min-width: 100px;
	min-height: 30px;
	border: 1px solid #ccc;
	background: #EEEEEE;
	padding: 8px;
}

#video-screen {
	position: absolute;
	top: 12px;
	left: 12px;
	right: 12px;
	bottom: 12px;
	background: #fff;
	box-shadow: 0 5px 20px #000;
	border-radius: 12px;
}

	#video-screen .indicator {
		position: absolute;
		/*box-shadow: 0 0 40px #0f0;*/
		background: #00AA00;
	}

	#video-screen .left {
		top: 0; left: 0;
		width: 50%; height: 100%;
	}
	#video-screen .right {
		top: 0; right: 0;
		width: 50%; height: 100%;
	}
	#video-screen .forward {
		top: 0; left: 0;
		height: 50%; width: 100%;
	}
	#video-screen .back {
		bottom: 0; left: 0;
		height: 50%; width: 100%;
	}

	#video-screen.active {
		box-shadow: 0 5px 20px #000, inset 0 0 100px #66f;
	}
